
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    /*width: 100%;*/
    height: 100%;
    /*overflow: hidden;*/
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
     background-color: #0E1E32;
     background-image: url("../img/sekouzed-bg.jpg");
    background-size: cover;
    margin: 0;
    width: 100%;
    display: table;
    padding: 15px;
}
.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    width: 100%;
    text-align: center;
    display: inline-block;
     max-width: 560px;
     margin: auto;
     /*padding: 15px;*/
     /*background: rgba(0, 0, 0, 0.47);*/
     /*border-radius: 6px;*/
     /*border: 1px solid rgba(255, 255, 255, 0.32);*/
 }
 .content h1 {
     font-size: 30px;
     margin: 0;
 }
 .avatar img {
     margin: auto;
     margin-bottom: 20px;
     max-width: 100%;
     max-height: 200px;
     /*border: 1px solid rgba(74, 74, 74, 0.5);*/
     border: 1px solid rgba(255, 255, 255, 0.32);
     padding: 2px;
     border-radius: 2px;
}
footer{
     text-align: center;
 }
.connects {
    border-top: 1px solid rgba(255, 255, 255, 0.32);
    margin-top: 20px;
}
.connect {
    display: inline-block;
    padding: 10px 10px;
    font-size: 30px;
    color: #FFFFFF;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.my_cv{
    text-align: center;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.32);
    padding: 10px;
    display: block;
    border-radius: 2px;
    margin: 15px auto;
}

.my_cv:hover{
    color: #fff;
    background: #16a085;
    border: 1px solid rgba(255, 255, 255, 0.32);
}

.my_cv img{
    width: 50px;
    margin: auto;
    position: relative;
    top: -5px;
}